<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pollo.madtownscouting2017">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_madtown"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScoutingMenu" />
        <activity android:name=".DataUpload" />
        <activity android:name=".addPhoto" />
        <activity android:name=".TeleopPeriod" />
        <activity
            android:name=".TabbedScouting"
            android:label="@string/title_activity_tabbed_scouting"
            android:parentActivityName=".ScoutingMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pollo.madtownscouting2017.ScoutingMenu" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.pollo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PictureList" />
        <activity android:name=".UploadPicture" />
        <activity android:name=".TeamPictureSelection" />
        <activity android:name=".TeamRoster" />
        <activity android:name=".EditData" />
    </application>

</manifest>
